bin/Release/net7.0/hcbasic
bin/Release/net7.0/hcbasic.deps.json
bin/Release/net7.0/hcbasic.dll
bin/Release/net7.0/hcbasic.pdb
bin/Release/net7.0/hcbasic.runtimeconfig.json
obj/hcbasic.csproj.nuget.dgspec.json
obj/hcbasic.csproj.nuget.g.props
obj/hcbasic.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/hcbasic.AssemblyInfo.cs
obj/Debug/net7.0/hcbasic.AssemblyInfoInputs.cache
obj/Debug/net7.0/hcbasic.assets.cache
obj/Debug/net7.0/hcbasic.csproj.AssemblyReference.cache
obj/Debug/net7.0/hcbasic.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/hcbasic.GlobalUsings.g.cs
obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Release/net7.0/apphost
obj/Release/net7.0/hcbasic.AssemblyInfo.cs
obj/Release/net7.0/hcbasic.AssemblyInfoInputs.cache
obj/Release/net7.0/hcbasic.assets.cache
obj/Release/net7.0/hcbasic.csproj.AssemblyReference.cache
obj/Release/net7.0/hcbasic.csproj.CoreCompileInputs.cache
obj/Release/net7.0/hcbasic.csproj.FileListAbsolute.txt
obj/Release/net7.0/hcbasic.dll
obj/Release/net7.0/hcbasic.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net7.0/hcbasic.genruntimeconfig.cache
obj/Release/net7.0/hcbasic.GlobalUsings.g.cs
obj/Release/net7.0/hcbasic.pdb
obj/Release/net7.0/PublishOutputs.f5214434a5.txt
obj/Release/net7.0/ref/hcbasic.dll
obj/Release/net7.0/refint/hcbasic.dll
